<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UoM Oracle Club </title>

    <link rel="icon" href="/images/logo/new2.ico" type="image/x-icon">
    <!-- external css -->
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="stylesheet" href="css/founder.css">
    <link rel="stylesheet" href="css/A-testimonial.css">
 
    <link rel="stylesheet" type="text/css" href="css/executive.css">
    <link rel="stylesheet" href="css/timeline.css">
    <!-- executive part: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<body>

  <%- include('partials/navbar.ejs') %>

    <section class="first-page py-3">
      <br><br><br><br><br>
        <div class="container container-fluid padbig"  >

            <div class="row" style="border:  0px solid rgb(0, 174, 255);">
                
                <div class="col-md">

                  <div class="row main-text">
                    <h1 class="aboutTitle"> Our Club </h1>

                    <p>
                      The UoM Oracle Club is a club stemming from the Faculty of Information Communication and Digital Technologies
                      whose aim is to work in 
                      <span class="purple-text"> proximity with the industry </span> 
                      to leverage learning and development opportunities 
                      and acquire knowledge and exposure to enhance employability and innovation potential.
                      As for our vision, we want to establish the Oracle Ambassador club as 
                      a 
                      <span class="purple-text">  National Club  </span> 
                      encompassing all local universities.

                      <span class="purple-text"> </span> 
                    </p>

                    <p>
                      Currently, we have about 
                      <span class="purple-text"> 500 members </span> 
                      and counting who can participate in a plethora of events and projects
                       organised by us, developing further their interpersonal skills.
                    </p>

                    <p>
                      Till now, we have tackled various events, all free of cost for attendees, in different sectors such 
                      as technology, education, culture, entertainment, sports and health, 
                      the most notable ones being the 
                       <span class="purple-text"> Drama Festival 2020  </span> 
                      and the 
                      <span class="purple-text">  Front End Battle 2021</span>. 
                      The UoM Oracle Club is a powerhouse that will continue to bring innovation on campus, and keep the club alive for the years to come.
                    </p>

                  </div>

                </div>

              
                  
                <div class="carCenter col-md car-con  " style="border:  0px solid rgb(255, 251, 0);">

                    <div id="carouselExampleIndicators" class="carCenter carousel slide carousel-fade" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>

                        <div class="carousel-inner rounded1">

                            <div class="carousel-item active">
                              <div class="card">
                                <img src="images/about/aboutSlider1.jpg" class="card-img-top" alt="..."  width="544" height="300">
                                  <div class="card-body">
                                    <div class="cardText">
                                      <p class="card-text "> 
                                        Our executive team in action for the Mozilla Talk in collaboration with Mozilla Mauritius. 
                                      </p>
                                    </div>
                                  </div>
                              </div>
                            </div> 

                            <div class="carousel-item">
                                <div class="card">
                                  <img src="images/about/aboutSlider2.jpg" class="card-img-top" alt="..." width="544" height="300">
                                    <div class="card-body">
                                      <div class="cardText">
                                        <p class="card-text">
                                          Fun activities organised during the student week period. At the end of each games, the winners got amazing prizes. 
                                        </p>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                              <div class="card">
                                <img src="images/about/aboutSlider3.png" class="card-img-top" alt="..." width="544" height="300">
                                  <div class="card-body">
                                    <div class="cardText">
                                      <p class="card-text">
                                        One of our biggest event on campus, the Drama Festival 2020. After the drama, there was a fun cosplay competition. 
                                      </p>
                                    </div>
                                  </div>
                              </div>
                          </div>


                        </div>    

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>

            </div>
        </div>
        <br><br>
    </section>
    <!-- images/about/about1.jpeg -->

    <section class="timeline">
     

    
    <div id="mainCont">
      <div class="text-center"> <h1 style="color: black"> The founding team</h1></div>
        <div class="" id="exec0">
            <div class="container-fluid ">
                <div class="container">
                    <div class="row align-items-start">
                        <div class="col text-center" >
                        <div class="card-header" style="width: 4em;">
                            <h5 class="soz">President</h5>
                            </div>
                        <div class="card" style="width: 4em; height: 4em;" >
                            <img src="images/timeline/nirmal.JPG" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col text-center">
                        <div class="card-header" style="width: 4em;">
                            <h5 class="soz">Vice-President</h5>
                            </div>
                        <div class="card" style="width: 4em; height: 4em;" >
                            <img src="images/timeline/ismail.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col text-center">
                        <div class="card-header" style="width: 4em;">
                            <h5 class="soz">PRO</h5>
                            </div>
                        <div class="card" style="width: 4em; height: 4em;" >
                            <img src="images/timeline/nawsheen.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col text-center">
                        <div class="card-header" style="width: 4em;">
                            <h5 class="soz">Secretary</h5>
                            </div>
                        <div class="card" style="width: 4em; height: 4em;" >
                            <img src="images/timeline/yuvraj.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>    
                        <div class="col text-center">
                        <div class="card-header" style="width: 4em;">
                            <h5 class="soz">Head Organiser</h5>
                            </div>
                        <div class="card" style="width: 4em; height: 4em;" >
                            <img src="images/timeline/reeshal.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>        
            </div>
        </div>

    
      
      <br><br><br><br>


    </div>
    </section>

    <section class="services">
      <div class="container text-white py-5">
          <h1 class="text-center pb-5 heading">Everything that we do</h1>
          <div class="row">
              <div class="col-12 col-lg-4 col-md-4 px-4 text-center">
                  <img src="images/about/about1.jpeg" alt="" class="img-fluid image my-4">
                  <h1 class="py-3">Talks</h1>
                  
                  <p> 
                    We organise enriching talks in collaboration with numerous clubs and communities. 
                    Our talks range from the latest technologies updates, the business world, self-leadership,
                    mental health & carrer guidance. All of our talks follow a 
                    <span class="text-purple">Question & Answers session</span> 
                    where the student can satisfy his queries. 
                 </p>
                  
                  <p>Learn about our latest <a href="https://uomoracleclub.org/events/view/61a0f529a4439c31eb3aa8ae"  class="text-purple">human rights talk</a></p>
              </div>

              <div class="col-12 col-lg-4 col-md-4 px-4 text-center">
                  <img src="images/about/about2.png" alt="" class="img-fluid image my-4">
                  <h1 class="py-3">Workshops</h1>
                  
                  <p>
                    Our workshops help students in developing their various skills. 
                    From technology related workshops to career guidance, we aim at enriching the students knowledge with 
                    <span class="text-purple"> hands on practice</span>. Most of our workshops are         
                    <span class="text-purple">certified</span> 
                    and therefore more valuable to a student.
                    
                  </p>

                  <p>Learn about our latest <a href="https://uomoracleclub.org/events/view/61a10963a4439c31eb3aaaff"  class="text-purple">C# training</a></p>
              </div>


              <div class="col-12 col-lg-4 col-md-4 px-4 text-center">
                  <img src="images/about/about3.jpg" alt="" class="img-fluid image my-4">
                  <h1 class="py-3">Competitions</h1>
                  
                  <p>
                    Competitions help student to put their skills into real life use, 
                    while working together with their team mates under the ticking clock.
                    All of our competitions are are rewarded with satisfying <span class="text-purple">prizes and certificates</span> ,
                    which help students to bring out the best out of their abilities and prepare them for further challenges.

                    
                </p>

                  <p>Learn about our latest <a href="https://uomoracleclub.org/events/view/61a1d27d6207119bc9b6bea2"  class="text-purple">front-end battle</a></p>
              </div>
          </div>
      </div>
  </section>

  <section class="team text-center py-5">
    <div>
      <h1>Meet Our Executive Team</h1>
    </div>
     <div class="container">
       <div class="row seven-cols">

        <!-- a6 -->
         <div class="col-6 col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/exec/a6.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/aashish.I.v"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/_aashish_r/"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Aashish Russeean</h6>
               <p class="text-title">President</p>
             </div>
           </div>
         </div>

         <!-- sam -->
         <div class="col-6   col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/exec/sam_cc2.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/sambhav.bholah"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/samb00v/"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://mu.linkedin.com/in/sambhav-bholah-5838811b7"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Sambhav Bholah</h6>
               <p class="text-title">Vice-President</p>
             </div>
           </div>
         </div>

         
           <!-- krishna--> 
           <div class="col-6  col-md-6 col-lg-1 outer">
            <div class="img-area img-block mb-5">
              <img src="images/about/exec/krishna_cc.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
               <div class="social">
                 <ul class="list-inline">
                   <li><a href="https://www.facebook.com/krishna.humath"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="https://www.instagram.com/invites/contact/?i=1wkpprbtmf9cc&utm_content=wda3cz"><i class="fa fa-instagram"></i></a></li>
                   <li><a href=" https://www.linkedin.com/in/krishna-humath-9786391b5"><i class="fa fa-linkedin"></i></a></li>
                   <br>
                 </ul>
               </div>
              <div class="content mt-2 ">
                <h6 class="">Krishna Humath</h6>
                <p class="text-title">Secretary</p>
              </div>
            </div>
          </div>

          <!-- emrith -->
          <div class="col-6   col-md-6 col-lg-1 outer">
            <div class="img-area img-block mb-5">
              <img src="images/about/exec/emrith_cc.png" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
               <div class="social">
                 <ul class="list-inline">
                   <li><a href="https://www.facebook.com/dhanveer.emrith"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="https://www.instagram.com/_d.s.emrith_/"><i class="fa fa-instagram"></i></a></li>
                   <li><a href="http://www.linkedin.com/in/dhanveer-sharma-emrith"><i class="fa fa-linkedin"></i></a></li>
                   <br>
                 </ul>
               </div>
              <div class="content mt-2">
                <h6>Dhanveer Sharma Emrith</h6>
                <p class="text-title">Treasurer</p>
              </div>
            </div>
          </div>
          

            <!-- nushrat -->
          <div class="col-6   col-md-6 col-lg-1 outer">
            <div class="img-area img-block mb-5">
              <img src="images/about/exec/nushrat_cc1.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/nushrat.shupzz.7"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/nousrat-sabbah-rossaye-0b46601b5"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
              <div class="content mt-2">
                <h6>Nousrat Rossaye</h6>
                <p class="text-title">Public Relations Officer</p>
              </div>
            </div>
          </div>


         <!-- ashwin -->
         <div class="col-6   col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/dev/ash.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/ashwin.appadoo.9"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/ashwin0060/"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/tandava-appadoo"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Tandava Appadoo</h6>
               <p class="text-title">Event Coordinator</p>
             </div>
           </div>
         </div>

         <!-- divya -->
         <div class="col-3 d-block d-lg-none ">
        </div>

         <div class="col-6   col-md-6 col-lg-1 outer">
          <div class="img-area img-block mb-5">
            <img src="images/about/exec/divya_cc.jpeg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
             <div class="social">
               <ul class="list-inline">
                 <li><a href="https://www.facebook.com/divyaa.baichoo"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="https://www.instagram.com/divya_r.baichoo/"><i class="fa fa-instagram"></i></a></li>
                 <li><a href="https://www.linkedin.com/in/divyaratna-baichoo-a57326206/"><i class="fa fa-linkedin"></i></a></li>
                 <br>
               </ul>
             </div>
            <div class="content mt-2">
              <h6>Divyaratna Baichoo</h6>
              <p class="text-title">Marketing Coordinator</p>
            </div>
          </div>
        </div>

        
         
       </div>
     </div>
   </section>

  <section class="last-page">
      <div class="container-bg">
          <div class="container container-fluid text-light d-flex flex-column align-items-center pt-3">
              <h1 class="c-title mb-3 mt-5">
                Core<span class="c-purple-text">  Developers </span>
              </h1>

              <section class="testim" id="testim">
                <div class="wrap">
                     
                    <span id="right-arrow" class="arrow right fa fa-chevron-right d-none"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left d-none"></span>
        
                    <ul class="dots" id="testim-dots">
                        <li class="dot active"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                    </ul>
        
                    <div class="cont" id="testim-content">
        
                        <div class="row active">
                          <div class="col-md-6 col-lg-4 mt-3">
                            <div class="img"><img src="/images/about/exec/sam_cc2.jpg"></div>
                            <h2>Sambhav Bholah</h2>
                            <p class="mb-3"><a class="mx-2" href="https://www.facebook.com/sambhav.bholah"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="https://www.instagram.com/samb00v/"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="https://www.linkedin.com/company/uom-oracle-club/"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>
                              Working on this website improved my creative, developing and team work skills.
                               The goal was to facilitate the registring process for the members of our club. 
                              The best experience was defintely working together with all the different organisers and making this amazing project come to life.
                              </p>
                        </div>

                        <div class="col-md-6 col-lg-4 mt-5 mt-md-3">
                          <div class="img"><img src="/images/about/dev/ash.jpg"></div>
                          <h2>Tandava Appadoo</h2>
                          <p class="mb-3"><a class="mx-2" href="https://www.facebook.com/ashwin.appadoo.9"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                            <a class="mx-2" href="https://www.instagram.com/ashwin0060/"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                            <a class="mx-2" href="https://www.linkedin.com/in/tandava-appadoo"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href="mailto:appadooashwin@gmail.com?"><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                          <p>Software Engineering Student at the University of Mauritius. I’m also a freelance developer who enjoys building websites to rich interactive Software applications. If you have an interesting project in your mind, want to build something new or got an app idea then don’t hesitate to contact me.</p>
                      </div>

                       <div class="col-md-12 col-lg-4 mt-5 mt-lg-3">
                            <div class="img"><img src="/images/about/dev/chavi.jpg"></div>
                            <h2>Chavi Surujbhali</h2>
                            <p class="mb-3"><a class="mx-2" href="https://www.facebook.com/SurujbhaliChavi/"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="https://www.instagram.com/chavi.j28/"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="https://www.linkedin.com/in/chavisurujbhali/"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href="mailto:surujbhalichavi@gmail.com?"><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Freelance full stack Web Developer and Software Engineer Student. It was a great experience working on this website as i got to apply skills that i learnt. Got the opportunity to develop this rich/interactive website with a wonderful team.</p>
                        </div>
                        </div>

                       
                        <div class="row">
                          <div class="col-md-6 col-lg-4 mt-3">
                            <div class="img"><img src="/images/about/exec/a6.jpg"></div>
                            <h2>Aashish Russeean</h2>
                            <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>
                              Initiating this project and working with the team gave me a lot of experience in managing and team building spirit. As Computer Science Student, I am enthusiast to work in these kind of projects and it helped me develop a lot technical skills
                            </p>
                        </div>

                        <div class="col-md-6 col-lg-4 mt-5 mt-md-3">
                          <div class="img"><img src="/images/about/dev/darshinee.jpg"></div>
                          <h2>Darshinee Bungsy</h2>
                          <p class="mb-3"><a class="mx-2" href="https://www.facebook.com/darshi.nee.10"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                            <a class="mx-2" href="https://www.instagram.com/darshxnee_/"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                            <a class="mx-2" href="https://www.linkedin.com/in/darshinee-bungsy-991788212/"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href="mailto:darshineebungsy@gmail.com?"><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                          <p>Working on this website has given me a lot of experience as a Software Engineering student at the University of Mauritius, such as teamwork. I've also contributed to a number of other projects, including the B Care: Examine Yourself mobile app. Not to mention that I own D Knots, a small business that sells macrame goods.</p>
                      </div>
                      <div class="col-md-6 col-lg-4 mt-3">
                        <div class="img"><img src="/images/about/dev/derek.jpg"></div>
                        <h2>Yohan Derek Rackin</h2>
                        <p class="mb-3"><a class="mx-2" href="https://m.facebook.com/derek.rackin"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                          <a class="mx-2" href="https://www.instagram.com/derek.yhr/"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                          <a class="mx-2" href="https://www.linkedin.com/in/derek-rackin-760937208/"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href="mailto:derekrackin@gmail.com?"><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                        <p>Graphic Designer to be, Passionate about illustration and creative works. Working on this website was truly enriching by how I dived deeper into lines of code, and got to know how to do a coding project in a team. Such ambitious projects are bound to make one crave to be more knowledgeable about website development.</p>
                    </div>

                        </div>
                  
                        <div class="row">
                         

                        <div class="col-md-6 col-lg-4 mt-5 mt-md-3">
                          <div class="img"><img src="/images/about/dev/ruslan.jpg"></div>
                          <h2>Ruslan</h2>
                          <p class="mb-3"><a class="mx-2" href="https://www.facebook.com/gogoah.ruslan"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                            <a class="mx-2" href="https://instagram.com/6.ruslan9"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                            <a class="mx-2" href="https://www.linkedin.com/in/ruslan-gogoah"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href="mailto:rgogoah@gmail.com?"><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                          <p>Tech enthusiast, passionate about new technologies and programming. Working on this website gave me the opportunity to develop my web designing skills. It was definitely a challenge, but as a team we worked through it together. This has been a fruitful journey and an enriching experience working on this website.</p>
                      </div>

                       <div class="col-md-12 col-lg-4 mt-5 mt-lg-3">
                            <div class="img"><img src="/images/about/dev/simran.jpg"></div>
                            <h2>Simran</h2>
                            <p class="mb-3"><a class="mx-2" href="https://www.facebook.com/simran.rampersad.3"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="https://www.linkedin.com/in/rampersad-sivanee-16b1a51b6/"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href="mailto:simranrampersad13@gmail.com?"><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Working on the UoM Oracle Club website was certainly a very fruitful, enriching and fun experience. It was a rich journey of unlearning and learning alongside positive collaboration in a dynamic and supportive working environment. </p>
                        </div>
                        </div>
                        
                    </div>
        
                </div>
            </section>

              <div class="glow-line"></div>

              <div class="title mb-3">
                  <h1><span class="c-purple-text">Contributors</span> </h1>
              </div>

              <p class="c-text">
                  The website is currently being managed by our organisers including Jemima, Alex, Sakshee & Teshna. 
                  From updating the events page to writing the latest blogs, they make sure to give our members the best experience 
                  while using the website.
              </p>
          </div>
      </div>

  </section>

  <%- include('partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/founder.js"></script>
    <script type="text/javascript" src="/js/dev.js"></script>
    
    <script type="text/javascript" src="/js/timeline.js"></script>
  </body>
</html>