<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!-- external css -->
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="stylesheet" href="css/A-testimonial.css">
    <link rel="stylesheet" type="text/css" href="executive.css">

    <!-- executive part: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<body>
    <section class="first-page py-3">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md">
                  <div class="row main-text">
                    <h1> Our Club </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores architecto <span class="purple-text"> blanditiis </span> nostrum molestiae magnam! Facere odit quidem soluta voluptatem, nam in eum, blanditiis eligendi earum, saepe ipsam quaerat consequuntur vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, fugit culpa. Officia, commodi sunt tempore quis eum harum et! Officiis aut, laborum impedit voluptas quae error expedita possimus commodi optio. lore</p>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate velit reiciendis eligendi beatae similique? Culpa autem <span class="purple-text">cupiditate obcaecati</span>, nostrum iste hic qui rerum dolorum quam, a adipisci dignissimos vero? Voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto at officiis cupiditate cumque sequi. Deleniti facilis minima nisi id sed modi consequuntur, tempore ea officia unde? Blanditiis a impedit placeat.</p>
                  </div>
                </div>
                
                <div class="carCenter col-md car-con mt-2">
                    <div id="carouselExampleIndicators" class="carCenter carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>

                        <div class="carousel-inner rounded1">

                          <div class="carousel-item active">
                            
                            <div class="card">
                              <img src="images/about/2.jpg" class="card-img-top" alt="..."  width="544" height="300">
                              <div class="card-body">
                                <div class="cardText">
                                  <p class="card-text "> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, provident.</p>
                                </div>
                                
                              </div>
                            </div>
                          </div> 

                          <div class="carousel-item">
                            
                            <div class="card">
                              <img src="images/about/1.jpg" class="card-img-top" alt="..." width="544" height="300">
                              <div class="card-body">
                                <div class="cardText">
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="cardText"></div>
                              </div>
                            </div>
                          </div>                        
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="services">
      <div class="container text-white py-5">
          <h1 class="text-center pb-5 heading">Everything that we do</h1>
          <div class="row">
              <div class="col-12 col-lg-4 col-md-4 px-4 text-center">
                  <img src="images/about/placeholder.jpg" alt="" class="img-fluid image my-4">
                  <h1 class="py-3">Talks</h1>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <span class="text-purple">standard</span> dummy text ever since the 1500s, when an unknown printer took a <span class="text-purple">galley</span> of type and scrambled it to make a type specimen book</p>
                  <p>Learn about our latest <a href=""  class="text-purple">human rights talk</a></p>
              </div>
              <div class="col-12 col-lg-4 col-md-4 px-4 text-center">
                  <img src="images/about/placeholder.jpg" alt="" class="img-fluid image my-4">
                  <h1 class="py-3">Workshops</h1>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <span class="text-purple">standard</span> dummy text ever since the 1500s, when an unknown printer took a <span class="text-purple">galley</span> of type and scrambled it to make a type specimen book</p>
                  <p>Learn about our latest <a href=""  class="text-purple">C# training</a></p>
              </div>
              <div class="col-12 col-lg-4 col-md-4 px-4 text-center">
                  <img src="images/about/placeholder.jpg" alt="" class="img-fluid image my-4">
                  <h1 class="py-3">Competitions</h1>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <span class="text-purple">standard</span> dummy text ever since the 1500s, when an unknown printer took a <span class="text-purple">galley</span> of type and scrambled it to make a type specimen book</p>
                  <p>Learn about our latest <a href=""  class="text-purple">front-end battle</a></p>
              </div>
          </div>
      </div>
  </section>

  <section class="team text-center py-5">
    <div>
      <h1>Meet Our Executive Team</h1>
    </div>
     <div class="container">
       <div class="row seven-cols">
         <div class="col-12 col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/try.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Aashish Russeean</h6>
               <p class="text-title">President</p>
             </div>
           </div>
         </div>
         <div class="col-12   col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/try.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Sambhav Bholah</h6>
               <p class="text-title">Vice-President</p>
             </div>
           </div>
         </div>
         <div class="col-12  col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/try.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2 ">
               <h6 class="font-exec">Krishna Humath</h6>
               <p class="text-title font-exec">Secretary</p>
             </div>
           </div>
         </div>
         <div class="col-12   col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/try.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Tandava Appadoo</h6>
               <p class="text-title">Event Coordinator</p>
             </div>
           </div>
         </div>
         <div class="col-12   col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/try.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Divyaratna Baichoo</h6>
               <p class="text-title">Marketing Coordinator</p>
             </div>
           </div>
         </div>
         <div class="col-12   col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/try.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Dhanveer Sharma Emrith</h6>
               <p class="text-title">Treasurer</p>
             </div>
           </div>
         </div>
         <div class="col-3 d-block d-lg-none ">
  
         </div>
         <div class="col-12   col-md-6 col-lg-1 outer">
           <div class="img-area img-block mb-5">
             <img src="images/about/try.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <br>
                </ul>
              </div>
             <div class="content mt-2">
               <h6>Nousrat Rossaye</h6>
               <p class="text-title">Public Relationship Officer</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>

    <section class="last-page">
      <div class="container-bg">
          <div class="container container-fluid text-light d-flex flex-column align-items-center pt-3">
              <h1 class="c-title mb-3 mt-5">
                  Core <span class="c-purple-text"> Developers </span>
              </h1>

              <section class="testim" id="testim">
                <div class="wrap">
                     
                    <span id="right-arrow" class="arrow right fa fa-chevron-right d-none"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left d-none"></span>
        
                    <ul class="dots" id="testim-dots">
                        <li class="dot active"></li>
                        <li class="dot"></li>
                        <li class="dot"></li>
                    </ul>
        
                    <div class="cont" id="testim-content">
        
                        <div class="row active">
                          <div class="col-md-6 col-lg-4 mt-3">
                            <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                            <h2>Sambhav Bholah</h2>
                            <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                                deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                        </div>

                        <div class="col-md-6 col-lg-4 mt-5 mt-md-3">
                          <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                          <h2>Sambhav Bholah</h2>
                          <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                            <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                            <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                              deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                      </div>

                       <div class="col-md-12 col-lg-4 mt-5 mt-lg-3">
                            <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                            <h2>Sambhav Bholah</h2>
                            <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                                deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                        </div>
                        </div>

                       
                        <div class="row">
                          <div class="col-md-6 col-lg-4 mt-3">
                            <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                            <h2>Sambhav Bholah</h2>
                            <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                                deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                        </div>

                        <div class="col-md-6 col-lg-4 mt-5 mt-md-3">
                          <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                          <h2>Sambhav Bholah</h2>
                          <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                            <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                            <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                              deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                      </div>

                       <div class="col-md-12 col-lg-4 mt-5 mt-lg-3">
                            <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                            <h2>Sambhav Bholah</h2>
                            <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                                deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                        </div>
                        </div>
                  
                        <div class="row">
                          <div class="col-md-6 col-lg-4 mt-3">
                            <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                            <h2>Sambhav Bholah</h2>
                            <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                                deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                        </div>

                        <div class="col-md-6 col-lg-4 mt-5 mt-md-3">
                          <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                          <h2>Sambhav Bholah</h2>
                          <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                            <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                            <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                              deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                      </div>

                       <div class="col-md-12 col-lg-4 mt-5 mt-lg-3">
                            <div class="img"><img src="/images/testimonials/p1.jpg"></div>
                            <h2>Sambhav Bholah</h2>
                            <p class="mb-3"><a class="mx-2" href="#"><i class="fa fa-facebook" style="color: #09128c;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-instagram"  style="color: #ff005f;"></i></a>
                              <a class="mx-2" href="#"><i class="fa fa-linkedin" style="color: #0e76a8;"></i></a><a class="mx-2" href=""><i class="fa fa-envelope" style="color: #b2b4b5;"></i></a></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quasi aliquid vel voluptatum
                                deleniti! Corrupti velit, porro facere facilis laboriosam accusantium, eos beatae maiores.</p>
                        </div>
                        </div>
                        
                    </div>
        
                </div>
            </section>

              <div class="glow-line"></div>

              <div class="title mb-3">
                  <h1><span class="c-purple-text"> Current </span> Contributors</h1>
              </div>

              <div class="c-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti corporis maxime delectus obcaecati libero minus illo. Culpa, veritatis numquam, optio dolore eos tempora fugit, iusto aliquam commodi laudantium neque!
              </div>
          </div>
      </div>

  </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/testimonial.js"></script>
  </body>
</html>