<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tags later for SEO -->
    <title>UoM Oracle Club </title>
    <link rel="icon" href="/images/logo/new2.ico" type="image/x-icon">
    <!-- favicon -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">

    <!-- external css -->
    <link rel="stylesheet" type="text/css" href="css/updatednavbar.css">
    <link rel="stylesheet" href="css/h-homepage.css">
    <link rel="stylesheet" href="css/h-slider.css">
    <link rel="stylesheet" href="css/h-services.css">
    <link rel="stylesheet" href="css/h-testimonial.css">
    <link rel="stylesheet" href="css/hBgEvent.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/blog.css">
    <!-- <link rel="stylesheet" href="assets/style/Footer.css" /> -->

    <!-- bootstrap -->

</head>

<body>
    <%- include('partials/navbar.ejs') %>

        <div class="homeimg">
            <br> <br> <br>
            <br> <br> <br>
            <!-- landing text -->
            <div class="col-12 col-lg-12 col-md-12 col-sm-12 landingText" style="border:  0px solid rgb(200, 255, 0);">
                <p class="fw-bold sub-heading">UOM Oracle Club Website Admin Panel</p>
            </div>
            <button onclick="location.href='/users/<%=currentUser._id%>/change'" class='register me-5'
                style='float:right;'>Change Password</button>

            <br> <br> <br>

            <div class="container px-5">
                <div class="row gx-1 justify-content-center servicesRow" style="border: 0px solid red;">

                    <!-- 1-1 -->
                    <div class="col-lg-2 col-md-2 col-sm-1 servicesDetails">
                        <a href="/blogs/admin">
                            <!-- border-end border-light -->
                            <!-- style="border:1px solid red;" -->
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center ">
                                <img src="/images/icons/blogging.png" alt="" width="50" height="50">
                            </div>
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center">
                                <p class="servicesText">Blog Panel</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-1 col-sm-1 d-flex justify-content-center servicesBox">
                        <div class="servicesBorder"></div>
                    </div>


                    <!-- 2-2 -->
                    <div class="col-lg-2 col-md-2 col-sm-1 servicesDetails">
                        <a href="/events/admin">
                            <!-- border-end border-light -->
                            <!-- style="border:1px solid red;" -->
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center ">
                                <img src="/images/icons/event.png" alt="" width="50" height="50">
                            </div>
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center">
                                <p class="servicesText">Event Panel</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-1 col-sm-1 d-flex justify-content-center servicesBox">
                        <div class="servicesBorder"></div>
                    </div>


                    <!-- 3-3 -->
                    <div class="col-lg-2 col-md-2 col-sm-1 servicesDetails">
                        <a href="/events/banners">
                            <!-- border-end border-light -->
                            <!-- style="border:1px solid red;" -->
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center ">
                                <img src="/images/icons/banner.png" alt="" width="50" height="50">
                            </div>
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center">
                                <p class="servicesText">Banner Panel</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-1 col-sm-1 d-flex justify-content-center servicesBox">
                        <div class="servicesBorder"></div>
                    </div>

                    <!-- 4-4 -->
                    <div class="col-lg-2 col-md-2 col-sm-1 servicesDetails">
                        <a href="/member/admin">
                            <!-- border-end border-light -->
                            <!-- style="border:1px solid red;" -->
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center ">
                                <img src="/images/icons/home_1.png" alt="" width="50" height="50">
                            </div>
                            <div class="col-md-12 col-sm-1 d-flex justify-content-center">
                                <p class="servicesText">Members Panel</p>
                            </div>
                        </a>
                    </div>




                </div>
                <br>
                <% if(currentUser.admin==true){ %>
                    <div class="row gx-1 justify-content-center servicesRow" style="border: 0px solid red;">

                        <!-- 1-1 -->
                        <div class="col-lg-2 col-md-2 col-sm-1 servicesDetails">
                            <a href="/users">
                                <!-- border-end border-light -->
                                <!-- style="border:1px solid red;" -->
                                <div class="col-md-12 col-sm-1 d-flex justify-content-center ">
                                    <img src="/images/icons/user.png" alt="" width="50" height="50">
                                </div>
                                <div class="col-md-12 col-sm-1 d-flex justify-content-center">
                                    <p class="servicesText">User Panel</p>
                                </div>
                            </a>
                        </div>

                    </div>
                    <%}%>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>


</body>

</html>