<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UoM Oracle Club </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet"> 
    <link rel="icon" href="/images/logo/new2.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="css/registration.css">

  
</head>
<body>
  
  <%- include('partials/navbar.ejs') %>

  <br><br><br><br><br>


  <% if(success && success.length) {%>
    <div class="container centervert" style="height: 500px;">
      <p class="text-center para">You have successfully Registered.</p>
      <p class="text-center para">You will receive an email by tomorrow with further details.</p>

   
    </div>
      <% } else { %>


    - <div class="container mt-5">
        <h3 class="text-center title">Join an intimate community of more than 500 members and receive updates on our latest Events and Opportunities</h3>
       
        <h4 class="text-center title2">Register Now</h4>
      
       <div class="mx-auto mt-md-3 formReg"> 


        <form name="regForm" onsubmit="return validateForm()" action="/member" method="POST" >
          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">Umail</label>
            <div class="col-sm-9 col-xxl-10">
              <input type="text" class="form-control" name="email" placeholder="e.g john.doe@umail.uom.ac.mu" required>
              <div class="invalid-feedback">
                Please provide a valid umail. Make sure it ends with "@umail.uom.ac.mu"
              </div>
            </div>
            
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">Student Id</label>
            <div class="col-sm-9 col-xxl-10">
              <input type="text" class="form-control" name="studId" placeholder="e.g 2085943" required>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">First Name</label>
            <div class="col-sm-9 col-xxl-10">
              <input type="text" class="form-control" name="fName" placeholder="e.g John" required>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">Last Name</label>
            <div class="col-sm-9 col-xxl-10">
              <input type="text" class="form-control" name="lName" placeholder="e.g Doe" required>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">Phone No</label>
            <div class="col-sm-9 col-xxl-10">
              <input type="text" class="form-control" name="phoneNo" placeholder="e.g 57457363" required>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">Faculty</label>
            <div class="col-sm-9 col-xxl-10">
              <select class="form-select" name="faculty" required>
                <option value="">Select your Faculty</option>
                <option value="Faculty of Agriculture">Faculty of Agriculture</option>
                <option value="Faculty of Engineering">Faculty of Engineering</option>
                <option value="Faculty of Information Communication and Digital Technologies">Faculty of Information Communication and Digital Technologies</option>
                <option value="Faculty of Law & Management">Faculty of Law & Management</option>
                <option value="Faculty of Medicine and Health Sciences">Faculty of Medicine and Health Sciences</option>
                <option value="Faculty of Science">Faculty of Science</option>
                <option value="Faculty of Social Sciences & Humanities">Faculty of Social Sciences & Humanities</option>
                <option value="Centre for Innovative & Lifelong Learning">Centre for Innovative & Lifelong Learning</option>
             
              </select>
            </div>
          </div>

        
          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">Course</label>
            <div class="col-sm-9 col-xxl-10">
              <input type="text" class="form-control" name="course" placeholder="e.g Bsc(Hons) Software Engineering" required>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-3 col-xl-2 col-form-label">Year</label>
            <div class="col-sm-9 col-xxl-10">
              <select class="form-select" name="year" required>
                <option value="">Select your year</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                
              </select>
            </div>
          </div>
          
          <div class="trouble text-center">
            Having trouble to join ? 

            <button class="trouble-shoot btn" 
             onclick="location.href='https://api.whatsapp.com/send?phone=23058092173'"
            >Contact us
           </button>
          </div>
            
         
          <div class="mt-4 mb-5 text-center">
            <button type="submit" class="btn btn-primary regbtn">Submit</button>
        </div>


        </form>
        <br>
        <br>
        <br>
        <h4 class="title3">Privacy Policy ; 
          <span class="title4"> The data collected in the above form is solely used for the purpose of registering 
            new members in our club. In case of misconduct or inappropriate behaviour during one of our events, the 
            information disclosed above helps us. Thank you for your cooperation.
             </span>
        </h4>

       </div>

      </div> 
       
      
      <% }  %>
     
    <script>
      function validateForm() {
        let umail = document.forms["regForm"]["email"].value;
        let umailLength = umail.length;
        let umailOffset = umailLength - 16;
        let umailText = umail.substring(umailOffset,umailLength);
        
        // const notburger = document.querySelector(".form-control");
        if (umailText == "@umail.uom.ac.mu") {
        }else{
          event.preventDefault();
          const notburger = document.querySelector(".form-control");
          notburger.classList.add('form-control', 'is-invalid');

          const trouble = document.querySelector(".trouble");
          trouble.style.display = "block";
        }
  
      }
      </script>
    


        

    
   

        <%- include('partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>